@{
    ViewBag.Title = "Home Page";
}
<div class="jumbotron">
    <h1>Restaurant Ordering System</h1>
    <p class="lead">This Application Designed By Eyup Can ARSLAN.</p>
</div>
<div style="padding-left:10px; padding-top:10px; padding-bottom:10px; background-color:darkgray; font-size:10px">
    <b>In the Login Page; You can manage this sysyem with account that was defined as initial.</b>
    <p>I developed this system as a prototype. For this reason, some of the functinalities were ignored.</p>
    <b>In this system; I prefer to use Code First Structure. When the system work in first time;</b><br />
    System can start with.
    <ul>
        <li>Create Database via Ef in Models.</li>
        <li>Generate Identity Database by Models.</li>
        <li>Create "Admin,Managements,Customer" Roles and Define Admin and Manager</li>
        <li>Create Initial Value in Database</li>
    </ul>
</div>
<br />
<ul>
    <li>
        <p align="LEFT" style="margin-bottom: 0cm; font-weight: normal; line-height: 100%">
            <font color="#000000" face="Calibri" size="3"><u><span><font size="15">E-Restaurant System (Prototip Project for Reference)</font></span></u></font>
        </p>
    </li>
</ul>
<p align="LEFT" style="margin-bottom: 0cm; font-weight: normal; line-height: 100%">
    <font color="#000000" face="Calibri" size="3"><span style="background: transparent">(You can find this protitip&#39;s source code and executable files in attachment. Also I prepared some documents like Screen Shot, SRS, Simle Business Plan, User Guide and etc. )</span></font>
</p>
<p align="LEFT" style="margin-bottom: 0cm; line-height: 100%">
    <font color="#000000" face="Times New Roman, serif" size="3"><b><span style="background: transparent"><font face="Calibri">Aim:</font></span></b><font face="Calibri"><span style="font-weight: normal"><span style="background: transparent"> Online Restaurant Order System </span></span></font></font>
</p>
<p align="LEFT" style="margin-bottom: 0cm; font-weight: normal; line-height: 100%">
    <br />
</p>
<p align="LEFT" style="margin-bottom: 0cm; line-height: 100%">
    <font color="#000000" face="Times New Roman, serif" size="3"><b><span style="background: transparent"><font face="Calibri">Technology:</font></span></b><font face="Calibri"><span style="font-weight: normal"><span style="background: transparent"> </span></span></font></font>
</p>
<p align="LEFT" style="margin-bottom: 0cm; font-weight: normal; line-height: 100%">
    <font color="#000000" face="Calibri" size="3">
        <span style="background: transparent">
            <u><b>Freamworks:</b></u> Entity Freamwork, Ninject Freamwork, Identity Freamwork, Elmah Freamwork,Twillo, Paging<br />
        </span>
    </font>
    <br />
</p>
<p align="LEFT" style="margin-bottom: 0cm; font-weight: normal; line-height: 100%">
    <font color="#000000" face="Calibri" size="3"><span style="background: transparent"><u><b>Solution:</b> </u><span style="text-decoration: none">MVC; N-Tier Architecture(Core,Data,Service,Web);Entity Freamwork(Code First + Loose Coupling Connection + Eager Loading )for ORM; Ninject For Dependecy Injection; </span>Identity Freamwork for Authorazation;Elmah Freamwork for Error Logging; Linq Query; Razor For View Structure; Twillo For (Two Factoring Authorazation)</span></font>
</p>
<p align="LEFT" style="margin-bottom: 0cm; font-weight: normal; line-height: 100%">
    <br />
</p>
<p align="LEFT" style="margin-bottom: 0cm; line-height: 100%">
    <font color="#000000" face="Calibri" size="3"><b><span style="background: transparent">General Explanation:</span></b></font>
</p>
<p align="LEFT" style="margin-bottom: 0cm; font-weight: normal; line-height: 100%">
    <font color="#000000" face="Calibri" size="3"><span style="background: transparent">Customer can give order using this system. Restaurant can manage it&#39;s Menu and take Statistic about it&#39;s product, feedback about Customer Comment&#39;s</span></font>
</p>
<p align="LEFT" style="margin-bottom: 0cm; font-weight: normal; line-height: 100%">
    <br />
</p>
<p align="LEFT" style="margin-bottom: 0cm; line-height: 100%">
    <font color="#000000" face="Calibri" size="3"><b><span style="background: transparent">This Systems Some Proporties:</span></b></font>
</p>
<p align="LEFT" style="margin-bottom: 0cm; line-height: 100%">
    <font color="#000000" face="Calibri" size="3"><b><span style="background: transparent">For Customer</span></b></font>
</p>
<ul>
    <li>
        <p align="LEFT" style="margin-bottom: 0cm; font-weight: normal; line-height: 100%">
            <font color="#000000" face="Calibri" size="3"><span style="background: transparent">Customers have to approve their Order via Cell Phone SMS Code</span></font>
        </p>
    </li>
    <li>
        <p align="LEFT" style="margin-bottom: 0cm; font-weight: normal; line-height: 100%">
            <font color="#000000" face="Calibri" size="3"><span style="background: transparent">Customers give Order and take information about Order&#39;s status</span></font>
        </p>
    </li>
    <li>
        <p align="LEFT" style="margin-bottom: 0cm; font-weight: normal; line-height: 100%">
            <font color="#000000" face="Calibri" size="3"><span style="background: transparent">Customers can give vote and make a comment about their orders.</span></font>
        </p>
    </li>
    <li>
        <p align="LEFT" style="margin-bottom: 0cm; font-weight: normal; line-height: 100%">
            <font color="#000000" face="Calibri" size="3"><span style="background: transparent">Customers can see their order activity.</span></font>
        </p>
    </li>
</ul>
<p align="LEFT" style="margin-bottom: 0cm; font-weight: normal; line-height: 100%">
    <br />
</p>
<p align="LEFT" style="margin-bottom: 0cm; line-height: 100%">
    <font color="#000000" face="Calibri" size="3"><b><span style="background: transparent">For Managements</span></b></font>
</p>
<ul>
    <li>
        <p align="LEFT" style="margin-bottom: 0cm; font-weight: normal; line-height: 100%">
            <font color="#000000" face="Calibri" size="3"><span style="background: transparent">Take Customers&#39; feedback about Menu and Orders</span></font>
        </p>
    </li>
    <li>
        <p align="LEFT" style="margin-bottom: 0cm; font-weight: normal; line-height: 100%">
            <font color="#000000" face="Calibri" size="3"><span style="background: transparent">Take Statistic according to Price, Month and Year</span></font>
        </p>
    </li>
    <li>
        <p align="LEFT" style="margin-bottom: 0cm; font-weight: normal; line-height: 100%">
            <font color="#000000" face="Calibri" size="3"><span style="background: transparent">Manage Orders&#39; Status</span></font>
        </p>
    </li>
</ul>

